<h1>Questions</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.title %></td>
        <td><%= question.content %></td>
        <td><%= link_to 'Show', project_question_path(@project, question) %></td>
        <td><%= link_to 'Edit', edit_project_question_path(@project, question) %></td>
        <td><%= link_to 'Destroy', project_question_path(@project, question), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_project_question_path %>
