<% if user_signed_in? %>
<%= stylesheet_link_tag "user", :media => "all" %>
<% end %>
<div class="main-wrap">
  <div class="main">
    <h3>Question Index</h3>
    <div class="form">
      <%= search_form_for @search do |f| %>
      <div class="form-group">
        <%= f.search_field :title_cont, placeholder: "search question", class: "form-control" %>
        <%= f.submit 'search', class: "btn btn-outline-info btn-sm" %>
      </div>
      <% end %>
    </div>
    <div class="main-table">
      <table class="table">
        <thead>
          <tr>
            <th><%= sort_link(@search, :created_at) %></th>
          </tr>
        </thead>
        <tbody>
          <% @questions.each do |question| %>
          <tr class="bg-info">
            <td><%= link_to question.title, project_subject_part_question_path(question.project_id, question.subject_id, question.part_id, question) %></td>
          </tr>
          <tr>
            <td>質問者：<%= question.user.name %></td>
          </tr>
          <tr>
            <td>part：<%= question.part.title %></td>
          </tr>
          <tr>
            <td><%= question.content %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
