<% if user_signed_in? %>
  <%= stylesheet_link_tag "user", :media => "all" %>
<% end %>
<div class="main-wrap">
  <div class="main">
    <h3>Question Show</h3>
    <div class="main-table">
      <table class="table">
        <tbody>
          <tr>
            <th><%= @question.title %></th>
          </tr>
          <tr>
            <th>質問者：<%= @question.user.name %></th>
          </tr>
          <tr>
            <td><%= @question.content %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <% if user_signed_in? %>
    <%= link_to 'Edit', edit_project_subject_part_question_path(@project, @subject, @part, @question), class: 'btn btn-outline-info btn-sm' %>
    <%= link_to 'Destroy', project_subject_part_question_path(@project, @subject, @part, @question), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-info btn-sm" %>
    <% end %>
  </div>
  </div>
      <div id="comments_area">
        <%= render partial: 'comments/index', locals: { comments: @comments, question: @question, part: @part, subject: @subject, project: @project } %>
      </div>
        <%= render partial: 'comments/form', locals: { comment: @comment, question: @question, part: @part, subject: @subject, project: @project } %>
