<% if user_signed_in? %>
  <%= stylesheet_link_tag "user", :media => "all" %>
<% end %>
<div class="main-wrap">
  <div class="main">
    <h3 class="title">Part Show</h3>
    <% if user_signed_in? %>
    <a class="icon far fa-question-circle animated infinite fadeIn slower fa-2x" href="/projects/<%= @project.id %>/subjects/<%= @subject.id %>/parts/<%= @part.id %>/questions/new" data-toggle="tooltip" title="Post question"></a>
    <h2><%= link_to @part.status, project_subject_part_toggle_status_path(@project, @subject, @part), method: :patch, class: 'btn btn-outline-info btn-sm' %></h2>
    <% end %>
    <div class="main-table">
      <table class="table">
        <tbody>
          <tr>
            <th><%= @part.title %></th>
          </tr>
          <tr>
            <td><%= @part.content.html_safe %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <% if admin_signed_in? %>
      <%= link_to 'Edit', edit_project_subject_part_path(@project, @subject, @part), class: 'btn btn-outline-info btn-sm' %>
    <% end %>
  </div>
</div>
