<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.text_field :title, placeholder: "input project title", class: "form-control, col-sm-6 ml-2" %>
    <%= form.submit nil, class: "btn-info btn-sm col-sm-2 ml-2"  %>
  </div>
<% end %>
