<%= render partial: 'shared/bg_animation' %>

<div class="container">
  <div class="session-title animated bounceInDown delay-1s">
    <h2 ">Admin sign in</h2>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <br />
      <%= f.email_field :email, autocomplete: "email", placeholder: "email", class: "form-control animated bounceInDown faster"%>
    </div>

    <div class="form-group">
      <br />
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "password", class: "form-control animated bounceInDown fast" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign in", class: 'btn btn-info btn-sm' %>
    </div>
  <% end %>

  <div class="session-link text-right animated lightSpeedIn slow">
    <%= link_to 'General user here!', new_user_session_path %>
  </div>

  <div class="session-link text-right animated lightSpeedIn delay-1s">
    <%= link_to 'Sign up', new_admin_registration_path %>
  </div>


  <div class="shared-link text-right animated lightSpeedIn slower delay-1s">
    <%= render "admins/shared/links" %>
  </div>
</div>

<%= stylesheet_link_tag "admins/sessions/new", :media => "all" %>
