<%= form_with(model: [project, subject], local: true) do |form| %>
  <% if subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.text_field :title, placeholder: "新しいタイトル", class: "form-control, col-sm-6 ml-2" %>
    <%= form.submit nil, class: 'btn-info btn-sm col-sm-2 ml-2' %>
  </div>
<% end %>
