<!DOCTYPE html>
<html>
  <head>
    <title>QuickLearning</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Font Awesomeの導入 -->
    <script src="https://kit.fontawesome.com/35325323f0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.3.0/font-awesome-animation.min.css">
    <!-- Animate.cssの導入 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
  </head>

  <body>
    <% if notice %>
      <div class="alert alert-info alert-dismissible animated heartBeat" role="alert">
        <%= notice %>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger alert-dismissible animated heartBeat" role="alert">
        <%= alert %>
      </div>
    <% end %>
    <div class="wrap">
    <div class="notifications">
    </div>
    <% if admin_signed_in? && current_admin.project_admin_projects.present? || user_signed_in? && current_user.project_user_projects.present? %>
    <div class="header">
      <div class="header-brand">Quick Learning</div>
      <div class="header-icon">
        <% if user_signed_in? %>
          <a class="icon fas fa-sign-out-alt faa-horizontal animated-hover fa-2x" href="/users/sign_out" data-method="delete" ></a>
        <% end %>
        <% if admin_signed_in? %>
          <a class="icon fas fa-user-tie faa-horizontal animated-hover fa-2x" href="/admins/invitation/new" ></a>
          <a class="icon fas fa-user-graduate faa-horizontal animated-hover fa-2x" href="/users/invitation/new" ></a>
          <a class="icon fas fa-sign-out-alt faa-horizontal animated-hover fa-2x" href="/admins/sign_out" data-method="delete" ></a>
        <% end %>
      </div>
    <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
      <label for="openSidebarMenu" class="sidebarIconToggle">
        <div class="spinner diagonal part-1"></div>
        <div class="spinner horizontal"></div>
        <div class="spinner diagonal part-2"></div>
      </label>
      <div id="sidebarMenu">
        <ul class="sidebarMenuInner">
          <li>Jelena Jovanovic <span>Web Developer</span></li>
          <li><a href="https://vanila.io" target="_blank">Company</a></li>
          <li><a href="https://instagram.com/plavookac" target="_blank">Instagram</a></li>
          <li><a href="https://twitter.com/plavookac" target="_blank">Twitter</a></li>
          <li><a href="https://www.youtube.com/channel/UCDfZM0IK6RBgud8HYGFXAJg" target="_blank">YouTube</a></li>
          <li><a href="https://www.linkedin.com/in/plavookac/" target="_blank">Linkedin</a></li>
        </ul>
      </div>
    </div>
    <% end %>
    <% if admin_signed_in? && current_admin.project_admin_projects.present? %>
      <div class="navigation-title">
        <h3><%= link_to current_admin.name, current_admin %>/<%= link_to 'Project', project_path(current_admin.project_admin_projects.last) %></h3>
      </div>
      <div class="navigation mt-3">
        <div class="container-fluid">
          <div class="row">
            <div class="col"><%= link_to "Project Index", projects_path, class: "nav-link" %></div>
            <div class="col"><%= link_to "Make Project", new_project_path, class: "nav-link" %></div>
            <div class="col"><%= link_to "Settiong", current_admin, class: "nav-link" %></div>
            <div class="col"><%= link_to "Question Index", projects_path, class: "nav-link" %></div>
          </div>
        </div>
      </div>
    <% end %>
    <%= yield %>
    </div>
  </body>
</html>
