<!DOCTYPE html>
<html>
  <head>
    <title>QuickLearning</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <p><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></p>
    <% end %>
    <% if admin_signed_in? %>
      <p><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></p>
    <% end %>
    <%= link_to 'Project', projects_path %>
    <%= link_to 'Subject', subjects_path %>
    <%= link_to 'Part', parts_path %>
    <%= link_to 'Question', questions_path %>
    <%= link_to "生徒を招待する", new_user_invitation_path %>
    <%= link_to "社員を招待する", new_admin_invitation_path %>
    <%= yield %>
  </body>
</html>
